numpy
pandas
matplotlib
seaborn
scikit-learn
plotly
seaborn
missingno


category_encoders # feature-encoding

statsmodels # create-and-analyze-regression
openpyxl # for reading excel files in create-and-analyze-regression

# sklearn  # text-vectorization
gensim # text-vectorization
nltk #word-doc-embedding-method